<div class="register" style="background-image:url(images/diary.jpg)">
  <section>
    <form novalidate ng-submit="register.submit()">
      <h2>Discover the secrets to the city. Register now to start journaling. Insider guides to the best ways to explore the capital.</h2>

      <div>
        <label>Username</label>
        <input type="text" placeholder="Username" ng-model="register.user.username" class="u-full-width">
      </div>
      <div>
        <label>Email</label>
        <input type="email" placeholder="Email" ng-model="register.user.email" class="u-full-width">
      </div>

      <label>A picture is worth a thousand words. Add an avatar</label>
      <drag-drop base64="register.user.base64"></drag-drop>


      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" ng-model="register.user.password" class="u-full-width">
      </div>
      <div>
        <label>Password Confirmation</label>
        <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation" class="u-full-width">
      </div>
      <button>Register</button>
    </form>
  </section>
</div>
