<section>
  <h1>Update this stop</h1>
  <h3>Things change, typos happen, and sometimes you discover something new</h3>
  <h3>Give this stops info a refresh and keep things up to the minute</h3>
  <form ng-submit="stopsEdit.update()">
    <label>Title</label>
    <input type="string" name="purpose" placeholder="What are we doing here?" ng-model="stopsEdit.stop.purpose" class="u-full-width">
    <input type="string" name="position" placeholder="Position" ng-model="stopsEdit.stop.position" class="u-full-width">
    <input type="string" name="image" placeholder="Image" ng-model="stopsEdit.stop.image" class="u-full-width">
    <imput type="boolean" name="public" placeholder="Public" ng-model="stopsEdit.stop.public" class="u-full-width">
    <button>Update</button>
  </form>
</section>
