<section>
  <div class="searchbox">
    <h1>Looking for a place to pause</h1>
    <h2>Whether you're putting together a whole journey of your own or simply seeking inspiration search for new places to go</h2></br>
    <h2>Search for stops....</h2>
    <img src="images/magglass.png" div class="icon" ></>
    <input type="text" ng-model="stopsIndex.queryString" placeholder="Search for stops..."
    class="searchbar">
  </div>
  <!-- class="u-full-width"> -->
  <div class="row">
    <div ng-repeat="stop in stopsIndex.all | filter: stopsIndex.filter" class="three columns stops">
      <a ui-sref="stopsShow({ id: stop.id })">
      <div class="hundred"><img ng-src="{{ stop.image }}"></div>
      <h2>{{ stop.purpose }}</h2></a>
      <h4>{{ stop.place.name }}</h4>
      <!-- <google-map stop="stop"></google-map> -->
    </div>
  </div>
</section>
