<section>
  <div class="page-header"><h1>Create A New Walk</h1>
    <h2>Let's head somewhere. Explore. </h2>
  </div>
  <form novalidate ng-submit="walksNew.create()">
    <div>
      <label>Name Your Walk</label>
      <input type="text" placeholder="Add a name for your walk" ng-model="walksNew.walk.name" class="u-full-width">
    </div>
    <div>
      <label>Add a Short Description</label>
      <input type="text" placeholder="Add a description of your walk" ng-model="walksNew.walk.description" class="u-full-width">
    </div>
    <!-- <div>
      <label>Add Stop</label>
      <input type="text" placeholder="Add a stop" ng-model="walksNew.walk.stops" class="u-full-width">
    </div> -->
    <button>Save Walk</button>
  </form>
</section>
