<section>
  <h1>Create A Stop</h1>

  <form ng-submit="stopsNew.create()">
    <label>Purpose</label>
    <input type="string" name="purpose" placeholder="What are we doing here?" ng-model="stopsNew.stop.purpose" class="u-full-width">

    <label>Place</label>
    <input type="string" name="place" placeholder="Where is the stop?" google-place stop="stopsNew.stop" class="u-full-width">

    <!-- <input type="string" name="place" placeholder="Where are we?" ng-model="stopsNew.stop.place_name" class="u-full-width"> -->
    <label>Position</label>
    <input type="string" name="position" placeholder="Position" ng-model="stopsNew.stop.position" class="u-full-width">

    <label>Image</label>
    <drag-drop base64="stopsNew.stop.base64"></drag-drop>

    <label>Public</label>
    <input type="radio" name="public" placeholder="Public" ng-model="stopsNew.stop.public" value="true">

    <label>Private</label>
    <input type="radio" name="public" placeholder="" ng-model="stopsNew.stop.public" value="false">
    <br>
    <button>Create</button>
  </form>
</section>
