<!DOCTYPE html>
<html ng-app="finalProject">
  <head>
    <meta charset="utf-8">
    <title>Final Project</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainController as main">
    <header>
      <h1>Final Project</h1>
      <nav>
        <!-- <a ui-sref="usersIndex">Home</a>
        <a ui-sref="register">Register</a>
        <a ui-sref="login">Login</a> -->
        <ul>
          <li><a ui-sref="usersIndex" ui-sref-active="active">Home</a></li>
          <li ng-if="!main.isLoggedIn()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
          <li ng-if="!main.isLoggedIn()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
          <li ng-if="main.isLoggedIn()"><a ng-click='main.logout()'>Log Out</a></li>
        </ul>

        <!-- <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if logged_in? %>
            <li>Hello, <%= current_user.username %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %></li>
            <li><%= link_to 'Buildings', buildings_path %></li>
            <li><%= link_to 'New Building', new_building_path %></li>
            <li><%= link_to 'Architects', architects_path %></li>
            <li><%= link_to 'New Architect', new_architect_path %></li>
          <% else %>
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul> -->
      </nav>
    </header>
    <main class="container" ui-view>
    </main>
  </body>
</html>
