@import "vendor";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Raleway+Dots|Roboto:100,100i,400,400i');


// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Raleway Dots', cursive;
// font-family: 'Roboto', sans-serif;

body {
  color: pink;
  background-color: #f9f9f9;
  font-family: 'Raleway Dots', cursive;
  font-family: 'Roboto:100i', sans-serif;
  // font-family: 'Open Sans Condensed', sans-serif;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
h1 {
  font-size: 25px;
}


h2 {
  font-size: 20px;
  color: pink;
  &:hover {
    color: red;
  }

}
h3 {
  font-size: 15px;
  color: grey;
}
h4 {
  font-size: 10px;
}

.google-map {
        width: 100%;
        height: 200px;
        background-color: grey;
}

.google-route {
        width: 100%;
        height: 200px;
        background-color: grey;
}
main {
  padding: 30px 20px 0;
  min-height: calc(100vh - 50px);
  // word-break: break-all;
  // word-wrap: normal;
  overflow: scroll;
}


header {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  background-color: rgba(0, 0, 0, 1s);
  font-family: 'Raleway Dots', cursive;
  nav {
    height: 50px;
    // @include outer-container;
    padding: 0 20px;
    ul{
      li {
        border-color: grey;
        border-width: 1px;
        line-height: 50px;
        display: inline-block;
        float: right;
        margin-left: 10px;
        color: #000000;
        a {
          color: pink;
          transition: all 0.2s ease;
          height: 50px;
          padding: 0 20px;
          &:hover {
            opacity: 0.5;
            color: white;
            transition: all 0.2s ease;
          }
          &.active {
            position:relative;
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -2px;
              left: 0;
            }
          }
        }
        &.logo {
          float: left;
          margin-left: 0;
          font-size: 26px;
          font-weight: bold;
        }
        &.burger {
          display: none;
        }
      }
      @media (max-width: 767px) {
        .dropdown {
          background-color: rgba(0, 0, 0, 0.8);
          overflow: hidden;
          width: 60%;
          z-index: 100;
          position: absolute;
          top: 80px;
          left: 20%;
          padding: 0 20px;
          li {
            display: none;
            a {
              &:hover {
                color: red;
                color: white;
              }
            }
          }
          &.active {
            li {
              display: block;
              float: none;
              text-align: center;
              &:first-of-type {
                margin-top: 10px;
              }
              &:last-of-type {
                margin-bottom: 10px;
              }
            }
          }
        }
        li {
          &.burger {
            color: pink;
            display: block;
            cursor: pointer;
            &:hover {
              color:white;
            }
          }
        }
      }
    }
  }
}

div{
  div {

    &.stops{
      height: 200px;
      border-style: solid;
      overflow: scroll;
      &:img {
        max-width: 100%;
        max-height: inherit;
      }
      margin: 0, 0, 10px;

    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vw;
  background-color: white;
  padding: 40px;
}

.background-image {
  height: calc(100vh - 50px);
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50px;
  left: 0;
}

.menu {
  // @include span-columns(6);
  background-color: gray;
  // background-color: $light-gray;
  padding: 20px;
  // @extend .vertical-center;
  ul {
    li {
      button {
        width: 100%;
        margin-bottom: 20px;
      }
      &:last-of-type {
        button {
          margin-bottom: 0;
        }
      }
    }
  }
}

.drag-drop {
  height: 150px;
  width: 150px;
  background-color: pink;
  border-radius: 0px;
  line-height: 0px;
  padding: 1px;
  margin:20px 0;
  color: white;
  // word-break: break-all;
  word-wrap: normal;

  img {
    max-width: 100%;
    max-height: inherit;
  }

  &.active {
    background-color: grey;
  }
}

.three.columns {
  margin-bottom: 20px;
  &:nth-child(4n+1) {
    margin-left: 0;
    clear: left;
  }
}

.stop-image {
  width: 33%;
}
// 
// label,
// legend {
//   color: grey;
//   display: block;
//   margin-bottom: .5rem;
//   font-weight: 500; }
// fieldset {
//   padding: 0;
//   border-width: 0; }
// input[type="checkbox"],
// input[type="radio"] {
//   display: inline; }
// label > .label-body {
//   display: inline-block;
//   margin-left: .5rem;
//   font-weight: normal; }
//
//   input[type="email"],
//   input[type="number"],
//   input[type="search"],
//   input[type="text"],
//   input[type="tel"],
//   input[type="url"],
//   input[type="password"],
//   textarea,
//   select {
//     height: 38px;
//     padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
//     background-color: #fff;
//     border: 1px solid #D1D1D1;
//     border-radius: 0px;
//     box-shadow: none;
//     box-sizing: border-box; }
//   /* Removes awkward default styles on some inputs for iOS */
//   input[type="email"],
//   input[type="number"],
//   input[type="search"],
//   input[type="text"],
//   input[type="tel"],
//   input[type="url"],
//   input[type="password"],
//   textarea {
//     -webkit-appearance: none;
//        -moz-appearance: none;
//             appearance: none; }
//   textarea {
//     min-height: 65px;
//     padding-top: 6px;
//     padding-bottom: 6px; }
//   input[type="email"]:focus,
//   input[type="number"]:focus,
//   input[type="search"]:focus,
//   input[type="text"]:focus,
//   input[type="tel"]:focus,
//   input[type="url"]:focus,
//   input[type="password"]:focus,
//   textarea:focus,
//   select:focus {
//     border: 1px solid #33C3F0;
//     outline: 0; }
//   label,
//   legend {
//     display: block;
//     margin-bottom: .5rem;
//     font-weight: 600; }
//   fieldset {
//     padding: 0;
//     border-width: 0; }
//   input[type="checkbox"],
//   input[type="radio"] {
//     display: inline; }
//   label > .label-body {
//     display: inline-block;
//     margin-left: .5rem;
//     font-weight: normal; }


.page-header {
  margin: 20px 0;
  &:h2{
    hover:none;
  }
  // background-color: pink;
}

button {
  border-radius: 0;
}

form {
  border-radius: 0px;
  margin-top:100px;
  padding: 10px;
  // width: 80%;
  background-color: rgba(0,0,0,0.5);
  // background-color: rgba(255,192,203,0.5);
  // background-color: pink;
}

// div {
//   &.round {
//       width: 500px;
//       border-radius: 100%;
//       }
//     }
//   }
// }
//
.home {
  height: calc(100vh - 81px);
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 81px;
  left: 0;
}

.register {
  // height: calc(100vh);
  // width: 100vw;
  background-position: center;
  background-size: cover;
  // position: fixed;
  left: 0;
}
