@import "vendor";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Raleway+Dots|Roboto:100,100i,400,400i');


body {
  // min-height: 100hv;
  color: #484848;
  background-color: #f9f9f9;
  font-family: 'Raleway Dots', cursive;
  font-family: 'Roboto:100i', sans-serif;

  img {
    max-width: 100%;
    // max-height: 100%;
  }
}

h1 {
  font-size: 24px;
}


h2 {
  font-size: 16px;

  // &:hover {
  //   color: red;

}
h3 {
  font-size: 14px;
  color: grey;
}
h4 {
  font-size: 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

ul {
  list-style-type:none;

}

.google-map {
        width: 100%;
        height: 200px;
        background-color: grey;
}

.google-route {
        width: 100%;
        height: 300px;
        background-color: grey;

}
main {
  padding-top: 30px;
  min-height: calc(100vh - 30px);
  // word-break: break-all;
  // word-wrap: normal;
  overflow: scroll;
}


header {
  height: 80px;
  z-index: 999;
  position: fixed;
  width: 100%;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  background-color: rgba(255, 255, 255, 1s);
  font-family: 'Raleway Dots', cursive;
  nav {
    // height: 30px;
    // @include outer-container;
    padding: 0 20px;
    ul{
      li {
        border-color: grey;
        border-width: 1px;
        line-height: 50px;
        display: inline-block;
        float: right;
        margin-left: 10px;
        // color: #000000;
        a {
          // color: pink;
          text-decoration: none;
          color: #484848;
          transition: all 0.2s ease;
          height: 50px;
          padding: 0 20px;
          &:hover {
            opacity: 0.5;
            color: #c4c4c4;
            transition: all 0.2s ease;
          }
          &.active {
            position:relative;
            text-decoration: underline;
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -2px;
              left: 0;
            }
          }
        }
        &.logo {
          float: left;
          margin-left: 0;
          font-size: 26px;
          font-weight: bold;
        }
        &.burger {
          display: none;
        }
      }
      @media (max-width: 767px) {
        .dropdown {
          background-color: rgba(0, 0, 0, 0.8);
          overflow: hidden;
          width: 60%;
          z-index: 100;
          position: absolute;
          top: 80px;
          left: 20%;
          padding: 0 20px;
          li {
            display: none;
            a {
              &:hover {
                color: red;
                color: white;
              }
            }
          }
          &.active {
            li {
              display: block;
              float: none;
              text-align: center;
              &:first-of-type {
                margin-top: 10px;
              }
              &:last-of-type {
                margin-bottom: 10px;
              }
            }
          }
        }
        li {
          &.burger {
            color: pink;
            display: block;
            cursor: pointer;
            &:hover {
              color:white;
            }
          }
        }
      }
    }
  }
}

section {
  margin-top: 100px;
}

div{
  div {

    &.stops{
      height: 200px;
      // border-style: solid;
      // border: 1px solid #484848;
      // border-radius:2px;
      overflow: hidden;
      // text-overflow: ellipsis;
      overflow: scroll;
      padding: 5px;
      border-bottom: 1px solid #484848;
      &:hover {
        border-color:#ff7e82;
        h2, h4 {
          color:#ff7e82;
        }
      }
      h2{
        text-transform:capitalize;
      }
      a{
        text-decoration: none;
        color: #484848;
      }

      img{
        width: 100%;
        height: 100px;
      }
      margin: 0, 0, 10px;

    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vw;
  background-color: white;
  padding: 40px;
}

.background-image {
  height: calc(100vh - 50px);
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50px;
  left: 0;
}

.menu {
  // @include span-columns(6);
  background-color: gray;
  // background-color: $light-gray;
  padding: 20px;
  // @extend .vertical-center;
  ul {
    li {
      button {
        width: 100%;
        margin-bottom: 20px;
      }
      &:last-of-type {
        button {
          margin-bottom: 0;
        }
      }
    }
  }
}

.drag-drop {
  height: 150px;
  width: 150px;
  background-color: pink;
  border-radius: 0px;
  line-height: 0px;
  padding: 1px;
  margin:20px 0;
  color: white;
  // word-break: break-all;
  word-wrap: normal;

  img {
    max-width: 100%;
    max-height: inherit;
  }

  &.active {
    background-color: grey;
  }
}

.three.columns {
  margin-bottom: 20px;
  &:nth-child(4n+1) {
    margin-left: 0;
    clear: left;
  }
}

.stop-image {
  width: 33%;
}

.page-header {
  margin: 20px 0;
  &:h2{
    hover:none;
  }
  // background-color: pink;
}

button {
  background: pink;
  margin: 0 auto;
}

form {
  max-width: 100%;
  // margin-left: 10%;
  border-radius: 0px;
  // margin-top:100px;
  padding: 10px;
  // width: 80%;
  background-color: #ff7e82;
  // background-color: rgba(0,0,0,0.2);
  // background-color: rgba(0,0,0,0.2);
  // background-color: rgba(255,192,203,0.5);
  // background-color: pink;
  &:button {
    margin: 0 auto;
    // border-radius: 20px;
  }
}

// div {
//   &.round {
//       width: 500px;
//       border-radius: 100%;
//       }
//     }
//   }
// }
//
.home {
  height: 100vh;
  overflow: scroll;
  width: calc(100vw - 20%);
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 50px;
  left: 0;
  padding: 0 10%;
}

.register {
  // height: calc(100vh);
  width: 100vw;
  background-position: center;
  background-size: cover;
  // position: fixed;
  left: 0;
}

.icon {
  height: 20px;
  width:20px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.searchbar {
  width: calc(75vw - 40px);
}

.searchbox {
  padding: 20px 10px 10px 10px;
}

.wide {
  width: 200px;
  height: 200px;
}
